{% extends "base.html" %}
{% block content %}
<div class="container detail-container">
    
    <!-- 글 상세 화면 -->
<div class="d-flex detail-title">
        <h2 class=>제목: {{ post.title }}</h2>
        {% if post.user == request.user %}
              <div class="d-flex">
                    <a href="{% url 'blog:edit' pk=post.pk %}" class="btn">수정</a>
                    <form action="{% url 'blog:delete' pk=post.pk %}" method="post">
                        {% csrf_token %}
                        <input type="submit" value="삭제" class="btn">
                    </form>
              </div>
            
        {% endif %}
</div>
    
    
    <div class="d-flex mt-2 text-muted">
        <p class="mb-3 me-3">작성자: {{ post.user.name }}</p>
        <p class="mb-3">작성일: {{ post.created_at|date:"Y-m-d" }}</p>
    </div>
    <p class="mb-3 fs-3">내용: {{ post.content }}</p>
    <br>
    
    <!-- 댓글 form -->
    <div class="mb-3 fs-4">댓글</div>
    <form action="{% url 'blog:cmt-write' post_id=post.pk %}" method="post" class="mb-3">
        {% csrf_token %}
        {% if comment_form.errors %}
            {% with form=comment_form %}
                {% include "blog/form_error.html" %}
            {% endwith %}
        {% else %}
            {{ comment_form.content }}
        {% endif %}
        <input type="submit" value="댓글작성"  class="btn mt-2">
    </form>
    <div class="comment-container">
        <!-- 댓글 화면 -->
        {% if comments %}
            <ul class="list-group">
                {% for comment in comments %}
                    <li class="comment-list">
                        @{{ comment.user.name }}: {{ comment.content }} / {{ comment.created_at|date:"Y-m-d" }} 
                        {% if comment.user == request.user %}
                            <form action="{% url 'blog:cmt-delete' comment_id=comment.pk %}" method="post">
                                {% csrf_token %}
                                <input type="submit" value="x" class="btn">
                            </form>
                        {% endif %}
                        <!-- 대댓글 화면 -->
                        {% for reply in comment.reply_set.all %}
                            <li class="reply-list">
                                @{{ reply.user.name }}: {{ reply.content }}
                                {% if reply.user == request.user %}
                                    <form action="{% url 'blog:reply-delete' reply_id=reply.pk %}" method="post">
                                        {% csrf_token %}
                                        <input type="submit" value="x" class="btn">
                                    </form>
                                {% endif %}
                            </li>
                        {% endfor %}
        
                        <!-- 대댓글 작성화면 -->
                        <form action="{% url 'blog:reply-write' comment_id=comment.pk %}" method="post" class="mb-3">
                            {% csrf_token %}
                            {{ reply_form.content }}
                            <input type="submit" value="reply" class="btn">
                        </form>
        
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>댓글이 없습니다.</p>
        {% endif %}
    </div>
    
    
    <br>
    <!-- 해시태그 form -->
    <div class="fs-4">해시태그</div>
    <form action="{% url 'blog:tag-write' post_id=post.pk %}" method="post">
        {% csrf_token %}
        {% if hashtag_form.errors %}
            {% with form=hashtag_form %}
                {% include "blog/form_error.html" %}
            {% endwith %}
        {% else %}
            {{ hashtag_form.name }}
        {% endif %}
        <input type="submit" value="태그작성">
    </form>
    
    <!-- 해시태그 화면 -->
    {% if hashtags %}
        <ul>
            {% for hashtag in hashtags %}
                <li>
                    {{ hashtag.name }}
                    {% if hashtag.user == request.user %}
                        <form action="{% url 'blog:tag-delete' hashtag_id=hashtag.pk %}" method="post">
                            {% csrf_token %}
                            <input type="submit" value=x>
                        </form>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>태그가 없습니다.</p>
    {% endif %}
    
</div>
{% endblock %}