{% extends "base.html" %}
{% block content %}
<div class="container blog-container">
    
    <h2 class="main-title mb-5">여행지 정보 공유 자유게시판</h2>
    <!-- 해시태그별로 글검색 -->
        <div class="search-list-section mb-3">
            <a href="{% url 'blog:list' %}" class="btn">목록보기</a>
           <div class="blog-search">
                <input type="text" name="q" id="search-input" class="form-control">
                <button id="search-btn" class="btn search-b">검색</button>
           </div>
        </div>
    
    <!-- 글목록 -->
    {% if post_list %}
        
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>제목</th>
                        <th>내용</th>
                        <th >작성자</th>
                        <th>생성일</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    {% for post in post_list %}
                        <tr>
                            <td class="col text-center"> {{ post.id }} </td>
                            <td class="col"><a href="{% url 'blog:detail' pk=post.pk %}">{{ post.title }}</a></td>
                            <td class="col-6">{{ post.content }}</td>
                            <td class="col">{{ post.user.name }}</td>
                            <td class="col">{{ post.created_at|date:"Y-m-d" }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        
    {% else %}
        <p>작성된 게시물이 없습니다.</p>
    {% endif %}
        <!-- 글작성 -->
        <div class="write-section mb-3">
            <form action="{% url 'blog:write' %}" method="get">
                <input type="submit" value="글작성" class="btn">
            </form>
        </div>
</div>

<script>
    document.querySelector('#search-btn').addEventListener('click', () => {
        const searchInput = document.querySelector('#search-input');
        const searchValue = searchInput.value;
        location.href = `/blog/?q=${searchValue}`;
    });
</script>
{% endblock %}