{% extends "base.html" %}
{% block content %}
    <h2 class="main-title">블로그 게시판 첫 화면입니다.</h2>
<!-- 해시태그별로 글검색 -->
    <form id="search-form" action="" method="get">
        해시태그 검색 : <input id="search-input" type="text"/>
        <input type="submit" value="검색">
    </form>

    <script>
        const form = document.querySelector('#search-form')
        const input = document.querySelector('#search-input')
        input.addEventListener('input', () => {
            inputValue = input.value
            s = `{% url 'blog:post-search' tag="value"%}`
            console.log(s)
            s = s.replace('value', inputValue)
            console.log(s)
            form.action = s
        });
    </script>

<!-- 글작성 -->
    <form action="{% url 'blog:write' %}" method="get">
        <input type="submit" value="글작성">
    </form>

<!-- 글목록 -->
{% if posts %}
    <table>
        <thead>
            <tr>
                <td>제목</td>
                <td>내용</td>
                <td>작성자</td>
            </tr>
        </thead>
        <tbody>
            {% for post in posts %}
                <tr>
                    <td><a href="{% url 'blog:detail' pk=post.pk %}">{{ post.title }}</a></td>
                    <td>{{ post.content }}</td>
                    <td>{{ post.user_id }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>작성된 게시물이 없습니다.</p>
{% endif %}
{% endblock %}